<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <link rel="shortcut icon" href="favicon.ico?v=2" />
  <title><%= title %></title>

  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/foundation.css">
  <link rel="stylesheet" href="stylesheets/custom.css">

  <script src="javascripts/vendor/custom.modernizr.js"></script>

</head>
<body>

  <div class="row">
    <div class="large-3 columns">
      <h1><img src="images/gm-logo-big.png" /></h1>
    </div>
    <div class="large-9 columns">
<!--
      <ul class="right button-group">
      <li><a href="#" class="button">Link 1</a></li>
      <li><a href="#" class="button">Link 2</a></li>
      <li><a href="#" class="button">Link 3</a></li>
      <li><a href="#" class="button">Link 4</a></li>
      </ul>
-->
  </div>
  </div>

<!-- End Header and Nav -->

<!-- First Band (Slider) -->

<!--
  <div class="row">
    <div class="large-12 columns">
    <ul data-orbit>
      <li><img src="http://placehold.it/1000x400&text=[ img 1 ]" /></li>
      <li><img src="http://placehold.it/1000x400&text=[ img 2 ]" /></li>
      <li><img src="http://placehold.it/1000x400&text=[ img 3 ]" /></li>
      <li><img src="http://placehold.it/1000x400&text=[ img 4 ]" /></li>
    </ul>
-->
    <!-- <div id="slider"> </div> -->

<!--
    <hr />
    </div>
  </div>
-->

<!-- Three-up Content Blocks -->
  <div class="row">
    <div class="large-12  columns" style="padding-bottom: 50px">
      <iframe width="920" height="430" src="http://www.youtube.com/embed/n5PbfpXuoJo?theme=light&vq=hd720" frameborder="0" allowfullscreen></iframe>
  </div>
<!--
  <object width="920" height="430">
    <param name="movie" value="http://www.youtube.com/embed/n5PbfpXuoJo"</param>
    <param name="color" value="white"></param>
    <embed src="http://www.youtube.com/embed/n5PbfpXuoJo"
      type="application/x-shockwave-flash"
        allowfullscreen="true"
        allowscriptaccess="always"
        width="920" height="430">
    </embed>
   </object>
-->

  <div class="row">
  <h1>The Machines</h1>
  <hr/>
<!--
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>Download The Data Machine</h4>
      <p>This GitMachine is configured to get you from zero to civic hero in no time.  It is loaded with the latest and greatest data analysis tools, data sets, and api endpoints.  Boot this baby up and go to localhost:1337 to see an overview of the configuration.</p>
    </div>

    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>Download The Web Server Machine</h4>
      <p>RoR? Sinatra? Expressjs? Apache? Varnish? Squid? Dare I say LAMP?! If it talks via HTTP come with me, this machine has all the settings you need to be TCP home free.</p>
    </div>

-->

    <div class="large-4 columns">
      <img src="images/machine2.jpg" style="padding-top: 50px"/>
      <form>
        <div class="row">
          <div class="small-8">
            <div class="row">
              <div class="small-3 columns">
                <label for="right-label" class="right inline">Zip</label>
              </div>
              <div class="small-9 columns">
                <input type="text" id="right-label" value="https://github.com/OpenDataDevOps/widget-the-people/archive/master.zip">
              </div>
              <div class="small-3 columns">
                <label for="right-label" class="right inline">Git</label>
              </div>
              <div class="small-9 columns">
                <input type="text" id="right-label" value="git@github.com:OpenDataDevOps/widget-the-people.git">
              </div>
            </div>
          </div>
        </div>
      </form>
      <h4>Download The Open Data Machine</h4>
      <p>This GitMachine is configured to get you from zero to civic hero in no time.  It is loaded with the latest and greatest data analysis tools, data sets, and api endpoints.  Boot this baby up and go to localhost:1337 to see an overview of the configuration.</p>
    </div>


    <div class="large-4 columns">
      <img src="images/machine3.png" />
      <form>
        <div class="row">
          <div class="small-8">
            <div class="row">
              <div class="small-3 columns">
                <label for="right-label" class="right inline">Zip</label>
              </div>
              <div class="small-9 columns">
                <input type="text" id="right-label" value="https://github.com/OpenDataDevOps/widget-the-people/archive/master.zip">
              </div>
              <div class="small-3 columns">
                <label for="right-label" class="right inline">Git</label>
              </div>
              <div class="small-9 columns">
                <input type="text" id="right-label" value="git@github.com:OpenDataDevOps/widget-the-people.git">
              </div>
            </div>
          </div>
        </div>
      </form>
      <h4>Download Widget The People Machine</h4>
      <p>This machine comes pre-configured with all the dependencies and application code to run Douglas Back's 'Widget The People' node.js application.</p>
    </div>

    <div class="large-4 columns">
      <img src="images/machine.png" style="padding-top: 50px"/>
      <form>
        <div class="row">
          <div class="small-8">
            <div class="row">
              <div class="small-3 columns">
                <label for="right-label" class="right inline">Zip</label>
              </div>
              <div class="small-9 columns">
                <input type="text" id="right-label" value="https://github.com/OpenDataDevOps/minus/archive/master.zip">
              </div>
              <div class="small-3 columns">
                <label for="right-label" class="right inline">Git</label>
              </div>
              <div class="small-9 columns">
                <input type="text" id="right-label" value="git@github.com:OpenDataDevOps/minus.git">
              </div>
            </div>
          </div>
        </div>
      </form>
      <h4>Download The All In One Machine</h4>
      <p>Don't know what you want? Good, we don't either, download this machine and configure it however you want, it has manifests for most every popular language, framework, or database.</p>
    </div>


<!--
    <div class="large-5 large-offset-3 columns">
      <img src="images/machine.png" />
    </div>
    <div class="large-9 large-offset-2">
      <form>
        <div class="row">
          <div class="small-8">
            <div class="row">
              <div class="small-3 columns">
                <label for="right-label" class="right inline">Zip</label>
              </div>
              <div class="small-9 columns">
                <input type="text" id="right-label" value="https://github.com/OpenDataDevOps/minus/archive/master.zip">
              </div>
              <div class="small-3 columns">
                <label for="right-label" class="right inline">Git</label>
              </div>
              <div class="small-9 columns">
                <input type="text" id="right-label" value="git@github.com:OpenDataDevOps/minus.git">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="large-5 large-offset-3 columns">
      <h4>Download The All In One Machine</h4>
      <p>Don't know what you want? Good, we don't either, download this machine and configure it however you want, it has manifests for most every popular language, framework, or database.</p>
    </div>
-->

    </div>

  </div>



<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">

    <form action="http://jlank.us7.list-manage.com/subscribe/post?u=e8eba09c1e70e97b978b371a2&amp;id=cba0642e97" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <fieldset>
        <legend>Stay Updated!</legend>

        <label for="mce-EMAIL">If you would like to receive updates on GitMachine's progress, please provide your email address.</label>
        <div class="large-9 columns">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="feed me your email address" required>
        </div>
        <div class="large-3 columns">
          <!--<a href="#" class="radius button right">Get Updates</a>-->
          <div class="clear"><input type="submit" value="Get Updates" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </fieldset>
    </form>

<!--End mc_embed_signup-->
<!--
      <div class="panel">
        <h4>Get in touch!</h4>

        <div class="row">
          <div class="large-9 columns">
            <p>If you would like to receive updates on GitMachines progress please provide your email address.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Get Updates</a>
          </div>
        </div>
      </div>
-->

    </div>
  </div>

  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright GitMachines 2013.</p>
        </div>
        <div class="large-6 columns">
<!--
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
-->
        </div>
      </div>
    </div>
  </footer>

  <script>
  document.write('<script src=javascripts/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>


  <script src="javascripts/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  <!-- End Footer -->
</body>
</html>


